/* #img{
    width:300px;
    height:200px
} */

.basic{
    gap: 2rem;
}
#pari{
    width:80% ;
    margin: auto;
    display: flex;
    height:70vh ;
}
 .basics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
 }

 hr{
    background-color: aqua;
    width:4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 }
 #par{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    margin-bottom: 12px;
 }