:root {
    --text-color: #fffae6;
    --first-color: #ff9f66;
    --second-color: #ff5f00;
    --third-color: #002379;
    --my-font: "Poppins", sans-serif;
    --my-style: normal;
    --family: "Dancing Script", cursive;
  }

.footer{
    display: flex;
    justify-content: space-around;
    background-color:var(--second-color) ;
    color: var(--third-color);
}
.footer ul{
    list-style: none;

}